﻿@model AuthorizeModel

@{
  Layout = null;
}


<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    form {
      border: 3px solid #f1f1f1;
    }

    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }

      button:hover {
        opacity: 0.8;
      }

    .registerbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #000ff6;
    }

    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
    }

    img.avatar {
      width: 70%;
      border-radius: 50%;
    }

    .container {
      padding: 16px;
    }

    span.psw {
      float: right;
      padding-top: 16px;
    }

    .text-danger {
      color: #dc3545 !important;
    }

    .text-white {
      color: #ffe4b5!important;
    }
    /* Change styles for span and cancel button on extra small screens */
  </style>
</head>
<body>
  <div class="imgcontainer">
    <img src="Banner.JPG" alt="Avatar" class="avatar">
  </div>
  <div class="row">
    <div class="col-md-4">
      <form asp-controller="Login" asp-action="Authorize" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
          <label for="uname">Utente</label>
          <input asp-for="User" placeholder="nome.cognome@acat.to.est" style="text-decoration:lightgray" class="form-control">
          <span asp-validation-for="User" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Password" class="control-label"></label>
          <input asp-for="Password" class="form-control" placeholder="Inserire la password" />
          <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
          <span class="text-danger">@Html.DisplayFor(model => model.AuthorizeErrorMessage)</span>
        </div>
        <div class="form-group">
          <button type="submit">Login</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
          <button class="registerbtn">
            <a asp-action="Register" asp-controller="SociTorinoEst" class="text-white">Regitrati</a>
          </button>
          <span class="psw"><a href="mailto:dpellegrini@tiscali.it?Subject=ACAT%20Soci%20Web%20Password&body=Mi%20ricorderesti%20la%20password%20per%20favore?">Password</a> dimenticata?</span>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
