﻿@model ACATSociWeb.Models.Socio

@{
  ViewData["Title"] = "Create";
}

<h1>Crea Socio</h1>
<hr />
<div>
  <a asp-action="Index">Torna all'elenco SOCI</a>
</div>
<div class="row">
  <div class="col-md-4">
    <form asp-action="Create">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Cognome" class="control-label"></label>
        <input asp-for="Cognome" class="form-control" />
        <span asp-validation-for="Cognome" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Qualifica" class="control-label"></label> (Es. Impiegato, Studente, ecc.)
        <input asp-for="Qualifica" class="form-control" />
        <span asp-validation-for="Qualifica" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Nazionalita" class="control-label"></label>
        <input asp-for="Nazionalita" class="form-control" />
        <span asp-validation-for="Nazionalita" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="ComuneDiNascita_Stato" class="control-label"></label>
        <input asp-for="ComuneDiNascita_Stato" class="form-control" />
        <span asp-validation-for="ComuneDiNascita_Stato" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Provincia" class="control-label"></label>
        <input asp-for="Provincia" class="form-control" />
        <span asp-validation-for="Provincia" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="DataDiNascita" class="control-label"></label>
        <input asp-for="DataDiNascita" class="form-control" />
        <span asp-validation-for="DataDiNascita" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="IndirizzoDiResidenza" class="control-label"></label>
        <input asp-for="IndirizzoDiResidenza" class="form-control" />
        <span asp-validation-for="IndirizzoDiResidenza" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="ComuneDiResidenza" class="control-label"></label>
        <input asp-for="ComuneDiResidenza" class="form-control" />
        <span asp-validation-for="ComuneDiResidenza" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="ProvinciaDiResidenza" class="control-label"></label>
        <input asp-for="ProvinciaDiResidenza" class="form-control" />
        <span asp-validation-for="ProvinciaDiResidenza" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CAP" class="control-label"></label>
        <input asp-for="CAP" class="form-control" />
        <span asp-validation-for="CAP" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Cellulare" class="control-label"></label>
        <input asp-for="Cellulare" class="form-control" />
        <span asp-validation-for="Cellulare" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CodiceFiscale" class="control-label"></label>
        <input asp-for="CodiceFiscale" class="form-control" style="text-transform: uppercase"/>
        <span asp-validation-for="CodiceFiscale" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CatDiAppartenenza" class="control-label"></label>
        <select asp-for="CatDiAppartenenza" asp-items="ViewBag.TuttiClub" class="form-control"></select>
        <span asp-validation-for="CatDiAppartenenza" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="DataIscrizioneCat" class="control-label"></label>
        <input asp-for="DataIscrizioneCat" class="form-control" />
        <span asp-validation-for="DataIscrizioneCat" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="RuoloAlCat" class="control-label"></label>
        <select asp-for="RuoloAlCat" class="form-control">
          <option value="0">Socio</option>
          <option value="1">Servitore Insegnante</option>
          <option value="2">Segretario</option>
          <option value="3">Tesoriere</option>
          <option value="4">Presidente</option>
        </select>
        <span asp-validation-for="RuoloAlCat" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Crea" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Torna all'elenco SOCI</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
