﻿@model ACATSociWeb.Models.Socio

@{
    ViewData["Title"] = "Delete";
}

<h1>Elimina</h1>

<h3>Sei sicuro di voler eliminare @Html.DisplayFor(model => model.Cognome) @Html.DisplayFor(model => model.Nome)?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cognome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
          @Html.DisplayNameFor(model => model.DataDiNascita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDiNascita)
        </dd>
        <dt class="col-sm-2">
          @Html.DisplayNameFor(model => model.IndirizzoDiResidenza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndirizzoDiResidenza)
        </dd>
        <dt class="col-sm-2">
          @Html.DisplayNameFor(model => model.ComuneDiResidenza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComuneDiResidenza)
        </dd>
        <dt class="col-sm-2">
          @Html.DisplayNameFor(model => model.ProvinciaDiResidenza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProvinciaDiResidenza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cellulare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cellulare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            CAT
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatDiAppartenenza)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index">Torna all'elenco SOCI</a>
    </form>
</div>
