﻿@model ACATSociWeb.Models.ClubViewModel

@{
  ViewData["Title"] = "Dettaglio";
}

<style type="text/css">
<!--
  .smalltab {
    margin-left: 40px;
  }
  .bigtab {
    margin-left: 200px;
  }
  .midtab {
    margin-left: 80px;
  }
-->
</style>
<p style="font-size: 32px; text-align: center" > <ins><b style="">SCHEDA ANAGRAFICA</b></ins></p>

<div style="font-size: 22px">
  <hr />
  <p>
    <b>Il Sottoscritto</b> @Html.DisplayFor(model => model.Socio.Cognome) @Html.DisplayFor(model => model.Socio.Nome)
  </p>
  <p>
    <b>Tipo di attivita` lavorativa</b> @Html.DisplayFor(model => model.Socio.Qualifica)
  </p>
  <p>
    <b>@Html.DisplayNameFor(model => model.Socio.Nazionalita)</b> @Html.DisplayFor(model => model.Socio.Nazionalita)
  </p>

  <p>
    <b>Nato a (comune o stato estero)</b> @Html.DisplayFor(model => model.Socio.ComuneDiNascita_Stato) <b class="smalltab">(</b> @Html.DisplayFor(model => model.Socio.Provincia) <b>)</b>   <b class="smalltab">il</b> @Html.DisplayFor(model => model.Socio.DataDiNascita)
  </p>

  <p>
    <b>Comune di Residenza</b>  @Html.DisplayFor(model => model.Socio.ComuneDiResidenza) <b class="smalltab">(</b> @Html.DisplayFor(model => model.Socio.ProvinciaDiResidenza) <b>)</b> <b class="smalltab">C.A.P.</b> @Html.DisplayFor(model => model.Socio.CAP)
  </p>

  <p>
    <b>Indirizzo</b>  @Html.DisplayFor(model => model.Socio.IndirizzoDiResidenza) 
  </p>
  <p>

    recapito telefonico <b class="smalltab">Cellulare</b> @Html.DisplayFor(model => model.Socio.Cellulare)
  </p>
  <p>
    <hr>
    <b>e-mail</b> @Html.DisplayFor(model => model.Socio.Email)
    <hr>
    <b>Codice Fiscale</b> <a style="text-transform: uppercase">@Html.DisplayFor(model => model.Socio.CodiceFiscale) </a>
    <hr>
    <b>Club di Appartenenza</b>  @Html.DisplayFor(model => model.Socio.CatDiAppartenenza)
  </p>
  <p>
  </p>
  <p>
    <b>Frequenta il club dal</b> @Html.DisplayFor(model => model.Socio.DataIscrizioneCat)
  </p>
  <p>
    <b>Sede degli incontri</b> @Html.DisplayFor(model => model.CAT.Sede)
  </p>
  <p>
    <b>Griono degli incontri</b> @Html.DisplayFor(model => model.CAT.GiornoIncontri) <b>dalle </b> @Html.DisplayFor(model => model.CAT.OraInizio) <b>alle </b> @Html.DisplayFor(model => model.CAT.OraFine)
  </p>
  <p>
    <b>Servitore Insegnante</b> @Html.DisplayFor(model => model.CAT.ServitoreInsegnante)
  </p>
  <p align="center">
    <br />
    <b>Assiduamente <input type="checkbox" /></b> <b class="midtab">Saltuariamente negli ultimi 6 mesi <input type="checkbox" /> </b>
    <br />
    <hr />
  </p>
  <p style="font-size: 18px">
    Dichiara di essere informato/a, ai sensi e per gli effeti di cui all'art. 13 del D.L.vo 30/06/2003, n. 196 che i dati personali raccolti saranno trattati, anche con strumenti informatici, esclusivamente
    nell'ambito del procedimento per il quale la presente dichiarazione viene resa.
  </p>
  <p />
  <p />
  <p />
  <Div>
    <br />
    <br />
    <br />
    <br />
    <b Style="text-align: left">Data, ...........................................</b>
    <b class="bigtab">
      <b>Il Socio</b>
      <b>....................................</b>
    </b>
  </Div>
</div>
<div>
  @if (Model.CanEdit)
  {
    <a asp-action="Edit" asp-route-id="@Model.Socio.Id">Modifica</a> <a> |</a>
  }
  <a asp-action="Index">Torna all'elenco SOCI</a>
</div>
