﻿@model ACATSociWeb.Models.SocioClubViewModel

@{
  ViewData["Title"] = "Soci";
}

<style>
  * {
    box-sizing: border-box;
  }

  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 100px; /* Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
</style>



<h1>Elenco soci Torino EST</h1>

<p>
  @if (Model.CanEdit)
  {
    <a asp-action="Create">Crea Nuovo</a>
  }
</p>

<form asp-controller="SociTorinoEst" asp-action="Index" method="get">
  <table class="table">
    <tbody>
      <tr>
        <td>
          CAT <select asp-for="SocioClub" asp-items="Model.Clubs" class="form-control">
            <option value="">Tutti</option>
          </select>
        </td>
        <td>
          Ruolo <select asp-for="RuoloClub" asp-items="Model.Ruoli" class="form-control">
            <option value="">Tutti</option>
          </select>
        </td>
        <td>
          Cerca: <input type="text" name="SearchString" class="form-control">
        </td>
        <td>
          <br/>
          <input type="submit" value="Filtra" class="form-control" />
        </td>
      </tr>
    </tbody>
  </table>
</form>


<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Soci[0].Cognome)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Soci[0].Nome)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Soci[0].CodiceFiscale)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Soci[0].Cellulare)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Soci[0].Email)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Soci[0].CatDiAppartenenza)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Soci[0].DataIscrizioneCat)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Soci[0].RuoloAlCat)
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.Soci)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td style="text-transform: uppercase">
          @Html.DisplayFor(modelItem => item.CodiceFiscale)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Cellulare)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.CatDiAppartenenza)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.DataIscrizioneCat)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.RuoloAlCat)
        </td>
        <td>
          @if (Model.CanEdit || Model.AuthenticatedUser.Id == item.Id)
          {
            <a asp-action="Edit" asp-route-id="@item.Id">
              <svg width="24" height="24" viewBox="0 0 24 24">
                <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
              </svg>
            </a>
          }
          <a asp-action="Details" asp-route-id="@item.Id">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path d="M2,3H22C23.05,3 24,3.95 24,5V19C24,20.05 23.05,21 22,21H2C0.95,21 0,20.05 0,19V5C0,3.95 0.95,3 2,3M14,6V7H22V6H14M14,8V9H21.5L22,9V8H14M14,10V11H21V10H14M8,13.91C6,13.91 2,15 2,17V18H14V17C14,15 10,13.91 8,13.91M8,6C6.34,6 5,7.34 5,9C5,10.66 6.34,12 8,12C9.66,12 11,10.66 11,9C11,7.34 9.66,6 8,6Z" />
            </svg>
          </a>
          @if (Model.CanEdit)
          {
            <a asp-action="Delete" asp-route-id="@item.Id">
              <svg width="24" height="24" viewBox="0 0 24 24">
                <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
              </svg>
            </a>
          }
        </td>
      </tr>
    }
  </tbody>
</table>
<p>
  @Html.ActionLink("Export Excel", "ExportExcel", new { @socioClub = Model.SocioClub, @ruoloClub = Model.RuoloClub, @searchString = Model.SearchString }, null)
</p>
