﻿@model ACATSociWeb.Models.ClubTorinoEst

@{
  ViewData["Title"] = "Elimina Club";
}

<h1>Elimina Club</h1>

<h3>Sei sicuro di voler eliminare questo club?</h3>
<div>
  <h4>ClubTorinoEst</h4>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Club)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Club)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Presidente)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Presidente)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Segretario)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Segretario)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Tesoriere)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Tesoriere)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.ServitoreInsegnante)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.ServitoreInsegnante)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.NumeroTelefonico)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.NumeroTelefonico)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Sede)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Sede)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.GiornoIncontri)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.GiornoIncontri)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.OraInizio)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.OraInizio)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.OraFine)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.OraFine)
    </dd>
  </dl>

  <form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Elimina" class="btn btn-danger" /> |
    <a asp-action="Index">Torna alla lista dei club</a>
  </form>
</div>
