﻿@model ACATSociWeb.Models.ClubViewModel

@{
  ViewData["Title"] = "Dettagli Club";
}

<h1>CLUB @Html.DisplayFor(model => model.CAT.Club)</h1>

<div>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.CAT.Club)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.CAT.Club)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.CAT.Presidente)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.CAT.Presidente)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.CAT.ServitoreInsegnante)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.CAT.ServitoreInsegnante)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.CAT.Segretario)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.CAT.Segretario)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.CAT.Tesoriere)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.CAT.Tesoriere)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.CAT.NumeroTelefonico)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.CAT.NumeroTelefonico)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.CAT.Sede)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.CAT.Sede)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.CAT.GiornoIncontri)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.CAT.GiornoIncontri)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.CAT.OraInizio)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.CAT.OraInizio)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.CAT.OraFine)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.CAT.OraFine)
    </dd>
  </dl>
</div>
<div>
  @if (Model.CanEdit)
  {
    <a asp-action="Edit" asp-route-id="@Model.CAT.Id">Modifica</a> <a> | </a>
  }
  <a asp-action="Index">Torna alla lista dei club</a> |
  <a asp-controller="SociTorinoEst" asp-action="Index" asp-route-socioClub="@Model.Club">Elenco Soci @Html.DisplayFor(m => m.CAT.Club)</a>
</div>
