﻿@model ACATSociWeb.Models.ClubTorinoEst

@{
  ViewData["Title"] = "Modifica Club";
}

<h1>Modifica Club</h1>

<h4>Torino Est</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Edit">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="Id" />
      <div class="form-group">
        <label asp-for="Club" class="control-label"></label>
        <input asp-for="Club" class="form-control" />
        <span asp-validation-for="Club" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Presidente" class="control-label"></label>
        <select asp-for="Presidente" asp-items="ViewBag.TuttiMembri" class="form-control">
          <option value=""></option>
        </select>
        <span asp-validation-for="Presidente" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="ServitoreInsegnante" class="control-label"></label>
        <select asp-for="ServitoreInsegnante" asp-items="ViewBag.TuttiMembri" class="form-control">
          <option value=""></option>
        </select>
        <span asp-validation-for="ServitoreInsegnante" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Segretario" class="control-label"></label>
        <select asp-for="Segretario" asp-items="ViewBag.TuttiMembri" class="form-control">
          <option value=""></option>
        </select>
        <span asp-validation-for="Segretario" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Tesoriere" class="control-label"></label>
        <select asp-for="Tesoriere" asp-items="ViewBag.TuttiMembri" class="form-control">
          <option value=""></option>
        </select>
        <span asp-validation-for="Tesoriere" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="NumeroTelefonico" class="control-label"></label>
        <input asp-for="NumeroTelefonico" class="form-control" />
        <span asp-validation-for="NumeroTelefonico" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Sede" class="control-label"></label>
        <input asp-for="Sede" class="form-control" />
        <span asp-validation-for="Sede" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="GiornoIncontri" class="control-label"></label>
        <input asp-for="GiornoIncontri" class="form-control" />
        <span asp-validation-for="GiornoIncontri" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="OraInizio" class="control-label"></label> (Es. 18:00)
        <input asp-for="OraInizio" class="form-control" />
        <span asp-validation-for="OraInizio" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="OraFine" class="control-label"></label> (Es. 19:30)
        <input asp-for="OraFine" class="form-control" />
        <span asp-validation-for="OraFine" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Salva" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Torna alla lista dei club</a>
</div>

