﻿@model ClubsViewModel

@{
  ViewData["Title"] = "Elenco Clubs";
}

<h1>Elenco club Torino EST</h1>

<p>
  @{
    if (Model.CanCreateNewClub)
    {
      <a asp-action="Create">Crea Nuovo</a>
    }
  }
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.ListClubsViewModel.FirstOrDefault().CAT.Club)
      </th>
      @*<th>
        @Html.DisplayNameFor(model => model.Presidente)
      </th>*@
      <th>
        @Html.DisplayNameFor(model => model.ListClubsViewModel.FirstOrDefault().CAT.ServitoreInsegnante)
      </th>
      @*<th>
        @Html.DisplayNameFor(model => model.Segretario)
      </th>*@
      <th>
        @Html.DisplayNameFor(model => model.ListClubsViewModel.FirstOrDefault().CAT.NumeroTelefonico)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.ListClubsViewModel.FirstOrDefault().CAT.Sede)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.ListClubsViewModel.FirstOrDefault().CAT.GiornoIncontri)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.ListClubsViewModel.FirstOrDefault().CAT.OraInizio)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.ListClubsViewModel.FirstOrDefault().CAT.OraFine)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.ListClubsViewModel)
    {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.CAT.Club)
      </td>
      @*<td>
        @Html.DisplayFor(modelItem => item.Presidente)
      </td>*@
      <td>
        @Html.DisplayFor(modelItem => item.CAT.ServitoreInsegnante)
      </td>
      @*<td>
        @Html.DisplayFor(modelItem => item.Segretario)
      </td>*@
      <td>
        @Html.DisplayFor(modelItem => item.CAT.NumeroTelefonico)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.CAT.Sede)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.CAT.GiornoIncontri)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.CAT.OraInizio)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.CAT.OraFine)
      </td>
      <td>
        @if (item.CanEdit)
        {
          <a asp-action="Edit" asp-route-id="@item.CAT.Id">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"/>
            </svg>
          </a>
        }
        <a asp-action="Details" asp-route-id="@item.CAT.Id">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <path d="M2,3H22C23.05,3 24,3.95 24,5V19C24,20.05 23.05,21 22,21H2C0.95,21 0,20.05 0,19V5C0,3.95 0.95,3 2,3M14,6V7H22V6H14M14,8V9H21.5L22,9V8H14M14,10V11H21V10H14M8,13.91C6,13.91 2,15 2,17V18H14V17C14,15 10,13.91 8,13.91M8,6C6.34,6 5,7.34 5,9C5,10.66 6.34,12 8,12C9.66,12 11,10.66 11,9C11,7.34 9.66,6 8,6Z"/>
          </svg>
        </a>
        @if (item.CanEdit)
        {
          <a asp-action="Delete" asp-route-id="@item.CAT.Id">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
            </svg>
          </a>
        }
      </td>
    </tr>
    }
  </tbody>
</table>
